@tailwind base;
@tailwind components;


#app {
  //@apply w-full flex;
}

.app-wrapper {
  @apply w-full h-screen flex;
  //-webkit-flex-wrap: wrap;
  //display: -webkit-flex;
}

html, body {
  height: 100%;
}

.my-input {
  @apply w-full;

  > label {
    @apply block tracking-wide text-white text-sm font-bold mb-2;
  }

  > input {
    @apply appearance-none block w-full bg-transparent text-secondary border border-secondary rounded py-3 px-4 leading-tight ;
    &:focus {
      @apply outline-none bg-transparent border-secondary;
    }
  }

  &.danger {

    > input {
      @apply border-red-600;
    }

  }


}

.side-navigation {
  @apply px-4 py-4;
  width: 300px;
}

/*
Matwrials
 */
.desk-bg {
  @apply bg-gray-900;
  background-color: #9c4221;
  background-image: url('/images/materials/wood.png');
}

/*
Glass
 */

.my-bg-laminate {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6e6b4+0,ed9017+100;Yellow+3D+%231 */
  background: rgb(246, 230, 180); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(246, 230, 180, 1) 0%, rgba(237, 144, 23, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(246, 230, 180, 1) 0%, rgba(237, 144, 23, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(246, 230, 180, 1) 0%, rgba(237, 144, 23, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6e6b4', endColorstr='#ed9017', GradientType=0); /* IE6-9 */
}

.my-bg-glass {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
  background: #b3dced; /* Old browsers */
  background: -moz-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=0); /* IE6-9 */
}

.my-bg-mirror {
  background: #f2f9fe; /* Old browsers */
  background: -moz-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f2f9fe 0%, #d6f0fd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f2f9fe 0%, #d6f0fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f9fe', endColorstr='#d6f0fd', GradientType=0); /* IE6-9 */
}

.my-bg-photo-wall {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b8c6df+0,6d88b7+100;Grey+Blue+3D+%231 */
  background: rgb(184, 198, 223); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(184, 198, 223, 1) 0%, rgba(109, 136, 183, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(184, 198, 223, 1) 0%, rgba(109, 136, 183, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(184, 198, 223, 1) 0%, rgba(109, 136, 183, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8c6df', endColorstr='#6d88b7', GradientType=0); /* IE6-9 */
}


.single-part {

  > hr {
    @apply border-t-2 border-gray-700;
  }

  &.show {
    > .material-select {
      @apply rounded-full flex;
      width: 110px;
      transition: width 1s;

      > div {
        > span {
          @apply text-white;
        }
      }

    }
  }

  .material-select {
    @apply absolute w-0    bg-gray-900  ;

    > div {
      @apply py-2 px-4 flex  items-center;

      > span {
        @apply text-transparent mr-2;
      }

      > div {
        @apply w-4 h-4 mr-1;

        &:hover {
          cursor: pointer;
          opacity: .7;
        }
      }

    }

    //transition: 100ms ease-in;
    //transition: width 2s;


    //@apply absolute hidden  items-center bg-gray-900 py-2 px-4 rounded-full;


  }

  &:hover {
    cursor: pointer;
  }
}

#app {
  > div {
    @apply bg-red-200;
  }
}

@import "./components/bp-switch";
@import "./components/bp-button";

.view-title {
  @apply h-16 items-center flex justify-center border-b border-white;
  > span {
    @apply text-xl block  font-bold text-white text-center;
  }
}

.main-content {
  //@apply w-full h-screen;
  margin-left: 300px;
}

.side-navigation-wrapper {
  @apply fixed bg-gray-800;
  //@apply h-screen fixed bg-gray-800;
  width: 300px;

  > div {
    @apply h-screen;

    > aside {
      height: calc(100vh - 64px);
    }

  }

}


.mobile-menu-touch {
  @apply hidden absolute bg-secondary top-0 right-0 px-2 py-4;
}

.step-2-h {
  //height: calc(100vh - 64px);
}

.material-legend {
  @apply absolute bg-secondary px-2 py-1 rounded-lg w-auto;
  right: 4px;
  bottom: 4px;
  z-index: 999;

  > div {
    @apply flex w-full justify-between items-center mr-4;
    > div {
      @apply w-2 h-2;
    }

    > span {
      @apply text-xs ;
    }

  }

}

/*
Mobile
 */

@media (max-width: 768px) {

  .step-2-h {
    //height: calc(100vh - 123px);
  }

  .mobile-menu-touch {
    @apply block;
  }


  .main-content {
    margin-left: 0;
  }

  .side-navigation-wrapper {


    @apply w-0;

    .side-navigation {
      width: 0;
      display: none;
    }

    &.collapsed {
      transition: width .5s;
      //transition: width .0s;
      @apply w-full;
      z-index: 1000;

      .side-navigation {
        //height: calc(100vh - 64px);
        display: flex;
        //display: block;
        width: 100%;
        transition: ease-in .1s;
        transition-delay: .1s;
      }
    }

  }

  .view-title {
    @apply justify-start pl-5;
    > span {
      @apply text-left;
    }
  }

  .view-title {

    > span {
      @apply text-base;
    }
  }

}


.view-title {
  @apply h-16 items-center flex justify-center border-b border-white;
  > span {
    @apply text-xl block  font-bold text-white text-center;
  }
}

@tailwind utilities;
