<template>
  <div class="my-input" :class="{'danger':danger}">
    <label v-if="label !== ''" :for="id">
      <span v-html="label"></span>
    </label>
    <input class=""
           v-bind="$attrs"
           :id="id"
           :type="type"
           :min="editedMin"
           :max="max"
           :placeholder="placeholder"
           v-model="value"
    >
    <span v-if="danger" class="data-danger mt-1 block text-red-500">
            {{ dangerMessage }}
        </span>
  </div>
</template>

<script lang="ts">

import {defineComponent} from 'vue';

export default defineComponent({
  name: "BpInput",
  emits: ['update:modelValue'],
  props: {
    modelValue: {
      required: true
    },
    type: {
      type: String,
      required: false,
      default: 'text'
    },
    label: {
      type: String,
      required: false,
      default: ''
    },
    id: {
      type: String,
      required: false,
      default: ''
    },
    placeholder: {
      type: String,
      required: false,
      default: ''
    },
    min: {
      type: Number,
      required: false,
      default: 0
    },
    max: {
      type: Number,
      required: false,
      default: 0
    },
    danger: {
      type: Boolean,
      required: false,
    },
    dangerMessage: {
      type: String,
      required: false,
    },
  },
  watch: {
    value(value) {
      this.$emit('update:modelValue', value)
    }
  },
  data() {
    return {
      value: '' as any,
    }
  },
  mounted() {
    this.value = this.modelValue
  },
  computed: {
    editedMin(): number {
      return this.min === 0 ? 1 : this.min
    }
  }

})
</script>