<template>
  <div class="w-full">

    <label v-if="label !=='' " class="block tracking-wide text-white text-sm font-bold mb-2" for="">
      {{ label }}
    </label>

    <div class="inline-block relative w-full">

      <select v-bind="$attrs"
              class="block text-secondary appearance-none w-full bg-transparent border border-secondary hover:border-gray-500 px-4 py-3 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
        <option v-for="option in options" :value="option.value">{{ option.text }}</option>
      </select>

      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-secondary">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
        </svg>
      </div>

    </div>

  </div>
</template>

<script lang="ts">

import {defineComponent} from 'vue';

export default defineComponent({
  name: "BpSelect",
  emits: ['update:modelValue'],
  props: {
    modelValue: {
      required: true
    },
    label: {
      type: String,
      required: false,
      default: ''
    },
    id: {
      type: String,
      required: false,
      default: ''
    },
    options: {
      type: Array,
      default: () => [],
      required: false,
    }
  },
  watch: {
    value(value) {
      this.$emit('update:modelValue', value)
    }
  },
  data() {
    return {
      value: '' as any,
    }
  },
  mounted() {
    this.value = this.modelValue
  },
})

</script>