<template>
  <div class="crypkit-switch" :class="{'inline':inline}">
    <label for="sdf" class="label">
      {{ label }}
    </label>
    <label class="switch" id="sdf">
      <input :id="id" v-model="input_value" type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>
</template>


<script lang="ts">

import {defineComponent} from 'vue';

export default defineComponent({
  name: "BpSwitch",
  emits: ['update:modelValue'],
  props: {
    modelValue: {
      required: true
    },
    label: {
      type: String,
      default: ''
    },
    inline: {
      type: Boolean,
      default: false
    },
    value: {
      default: true,
      required: false
    },
    id: {
      type: String,
      required: false,
      default: ''
    }
  },
  watch: {
    input_value(value) {
      this.$emit('update:modelValue', value)
    }
  },
  data() {
    return {
      input_value: '' as any,
    }
  },
  mounted() {
    this.input_value = this.modelValue
  },
})

</script>
