<template>
  <div class="material-select z-100" :style="pickerPosition">
    <div>
      <div @click.stop.prevent.self="pickColor(1)" class="my-bg-laminate"></div>
      <div @click.stop.prevent.self="pickColor(2)" class="my-bg-glass"></div>
      <div @click="pickColor(3)" class="my-bg-mirror"></div>
      <div @click="pickColor(4)" class="my-bg-photo-wall"></div>
    </div>
  </div>
</template>

<script lang="ts">

import {defineComponent} from 'vue'

export default defineComponent({
  name: "ColorPicker",
  props: ['shellPart', 'column', 'pathToPart'],
  computed: {
    pickerPosition(): any {

      const style = {
        'left': '8px',
        'top': '8px'
      }

      if (this.shellPart.colorPicker) {
        style['top'] = this.shellPart.colorPicker.top + 'px'
      }

      return style

    }
  },
  methods: {
    async pickColor(color: number) {
      console.log('pickColor fired', {
        color: color,
        column: this.column,
        path: this.pathToPart,
      })

      await this.$store.dispatch('SET_SECTION_COLOR', {
        color: color,
        column: this.column,
        path: this.pathToPart,
      })

    }
  }
})

</script>