<template>

  <div :class="[partClassStyle,{'show':show}]"
       class="relative single-part "
       @mouseover="showPicker()"
       @mouseleave="show = false"
       :key="'esk'+extra_key"
  >

    <bp-color-picker
        v-if="!shellPart.childs && !isInterior"
        :pathToPart="index"
        :column="column"
        :shellPart="shellPart"
    />

    <hr v-if="showLine" class="mt-3">

    <template v-if="shellPart.childs" v-for="(shellChildPart,subpartindex) in shellPart.childs">

      <div class="w-full h-full flex flex-direction-row my-row-divider" v-if="shellChildPart.type === 'divider'">

        <div class="w-1/2 h-full border-orange-400"
             v-for="(i,dividerIndex) in 2"
             :key="'shell-divider-'+dividerIndex"
             :class="[i===1 ? 'border-r-4':'border-l-4']">

          <template v-for="(dividerChild,index) in shellChildPart.childs[(i-1)]"
                    :key="'wardrobe-col-single-part' + index">

            <ColumnPart
                :shellPart="dividerChild"
                :isInterior="isInterior"
                :column="column"
                :index="indexPassToChild(subpartindex, (i-1))"
            />

          </template>

        </div>

      </div>

      <ColumnPart
          v-else
          :key="'wardrobe-col-single-subpart' + subpartindex"
          :isInterior="isInterior"
          :column="column"
          :index="indexPassToChild(subpartindex)"
          :shellPart="shellChildPart"
      />

    </template>

    <div v-if="showDesk" class="w-full desk-bg" :style="deskStyle"></div>

  </div>

</template>

<script lang="ts">

import {defineComponent} from 'vue';
import BpColorPicker from './ColorPicker.vue'

export default defineComponent({
  name: "ColumnPart",
  props: ['shellPart', 'isInterior', 'column', 'index'],
  components: {
    'bp-color-picker': BpColorPicker
  },
  data() {
    return {
      show: false,
      extra_key: 0
    }
  },
  computed: {
    showLine(): boolean {
      return this.shellPart.type === 'line' || this.shellPart.includesLine
    },
    showDesk(): boolean {
      return this.shellPart.type === 'desk' || this.shellPart.includesDesk
    },
    deskStyle(): any {
      return {
        'height': '100%'
      }
    },
    isShell(): boolean {
      return this.shellPart.type === 'shell'
    },
    partClassStyle(): any {

      let partClassObj = []

      if (this.isShell) {

        partClassObj.push('border-t-8')

        if (this.isInterior) {
          partClassObj.push('border-orange-400')
        }
      }


      if (this.showDesk) {
        partClassObj.push('border-t-8')
        partClassObj.push('border-white')
        partClassObj.push('flex')
        partClassObj.push('items-end')
      }

      if (!this.isInterior) {
        partClassObj.push('border-gray-900')

        if ('color' in this.shellPart && this.shellPart.color !== null) {

          switch (Number(this.shellPart.color)) {
            case 1:
              partClassObj.push('my-bg-laminate')
              break;

            case 2:
              partClassObj.push('my-bg-glass')
              break;

            case 3:
              partClassObj.push('my-bg-mirror')
              break;

            case 4:
              partClassObj.push('my-bg-photo-wall')
              break;
          }

        } else {
          partClassObj.push('bg-white')
        }

      }

      if (this.shellPart.size) {
        partClassObj.push('h-' + this.shellPart.size)
      }

      return partClassObj

    }

  },
  methods: {
    showPicker() {
      if (!this.isInterior) {
        this.show = true
      }
    },
    indexPassToChild(index: number, divider: boolean = false): any {

      let actual = JSON.parse(JSON.stringify(this.index));
      actual.push('childs')

      if (divider) {
        actual.push(divider)
      }
      actual.push(index)
      return actual
    }
  }
})

</script>