<template>

  <div @click="$store.dispatch('SET_EDITING_SECTION', column)"
       :class="[borderStyle, wardrobeColor]"
       class="flex-1  flex-col flex">


    <template v-for="(shellPart,index) in section[$store.getters.editMode].parts" :key="'wardrobe-singe-column-'+index">

      <bp-wardrobe-column-part
          :index="[index]"
          :isInterior="isInterior"
          :column="column"
          :shellPart="shellPart"
      />

    </template>


  </div>

</template>

<script lang="ts">


import BpWardrobeColumnPart from './ColumnPart.vue'

import {defineComponent} from 'vue';

export default defineComponent({
  name: "Column",
  components: {
    'bp-wardrobe-column-part': BpWardrobeColumnPart,
  },
  props: {
    column: {
      type: Number,
      required: true
    },
    allSections: {
      type: Number,
      required: true
    },
    section: {
      type: Object,
      required: true
    },
    isInterior: {
      type: Boolean,
      required: true
    },
    wardrobeColor: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      key: 0
    }
  },
  watch: {
    section: {
      deep: true,
      handler(n) {
        console.log('ooop')
      }
    }
  },
  computed: {
    borderStyle(): string[] {

      if (this.column + 1 === this.allSections) {
        return []
      }
      return [
        'border-r-8',
      ]

    },

  }
})

</script>