<template>

  <div id="wardrobe-preview" :key="'s-'+key" class="items-stretch flex flex-col wardrobe-editor-wrapper">

    <div class="my-top-switch h-10 flex-1 flex-grow-0  mx-auto justify-center flex  items-center">

      <div class="sw1 text-base  px-8 flex  items-center border-gray-800"
           :class="[!isInterior ? 'border border-gray-800 text-gray-800': 'bg-gray-800 border text-white']"
           @click="$store.dispatch('SET_EDIT_MODE','interior')">
        <span>Interiér</span>
      </div>

      <div class="sw1 text-base  px-8 flex  items-center border-gray-800"
           :class="[isInterior ? 'border border-gray-800 text-gray-800': 'bg-gray-800 border  text-white']"
           @click="$store.dispatch('SET_EDIT_MODE','exterior')">
        <span>Exteriér</span>
      </div>

    </div>


    <div class="ssss items-stretch bg-red mx-auto mt-3 flex-grow  flex-grow flex flex-col"
         :style="{'width':wardrobeWidth + '%'}">

      <div class="flex-grow-0 flex-shrink border-l-8 border-r-8 h-20 mx-auto w-full"
           :class="[topDesk ? wardrobeColor : 'border-transparent']">
      </div>

      <div class=" flex-grow flex-1 rounded-sm border-8 mx-auto flex w-full" :class="wardrobeColor">

        <template v-for="(section,index) in wardrobeSections" :key="'wardrobe-col-' + index">

          <bp-wardrobe-column
              :allSections="Number(wardrobeSections.length)"
              :column="Number(index)"
              :section="section"
              :isInterior="isInterior"
              :wardrobeColor="wardrobeColor"
          />

        </template>

      </div>

      <div class="flex-shrink w-full h-auto mx-auto relative flex z-40" style="">

        <div style="width: calc(100% + 60px);left: -30px" class="absolute top-0 h-6 bg-gray-400 ">
          <span class="text-center block text-sm">Podlaha</span>
        </div>

        <div class="pt-6 h-auto flex-1 leading-tight items-end text-center  justify-center content-end"
             v-for="(section,index) in wardrobeSections">
          <template v-if="index === editingSection">

            <svg class="inline-block mt-2" width="20px" height="20px" viewBox="0 0 20 12" version="1.1"
                 style="transform: rotate(90deg); fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
              <path d="M18.58,5.554l-18.08,0l5.054,-5.054l-5.054,5.054l5.054,5.054"
                    style="fill:none;stroke:#000;stroke-width:1px;"/>
            </svg>

            <p class="text-xs">Táto sekcia <br> sa edituje</p>

          </template>
        </div>


      </div>


    </div>


  </div>

</template>

<script lang="ts">

import {defineComponent} from 'vue';

import BpWardrobeColumn from './Column.vue';

export default defineComponent({
  name: "Index",
  components: {
    'bp-wardrobe-column': BpWardrobeColumn
  },
  data() {
    return {
      key: 0
    }
  },
  computed: {
    wardrobeColor(): string {
      return this.isInterior ? 'border-orange-400' : 'border-gray-900'
    },
    isInterior(): boolean {
      return this.$store.getters.editMode === 'interior'
    },
    editingSection(): any {
      return this.$store.getters.editingSection
    },
    topDesk(): boolean {
      return this.$store.getters.topDesk
    },
    wardrobeSections(): any {
      return this.$store.getters['sections']
    },
    wardrobeWidth(): number {
      return 75 + (((100 * this.$store.getters.width) / 700) / 4)
    },

  }
})

</script>


<style scoped lang="scss">

.wardrobe-editor-wrapper {
  @apply w-full py-8 px-24;
  height: 100vh;
}


.my-top-switch {

  > .sw1 {

    &:hover {
      cursor: pointer;
    }

  }
}


@media (max-width: 768px) {
  .wardrobe-editor-wrapper {
    @apply px-4 py-3;
    max-height: 100%;
    height: 100%;
  }

  .my-top-switch {
    @apply justify-start ml-0;
    z-index: 999;
  }

}

</style>