<template>
  <div class="view-title">
        <span>
            <slot></slot>
        </span>
  </div>
</template>

<script lang="ts">

import {defineComponent} from 'vue';

export default defineComponent({
  name: "SiteTitle"
})

</script>