.my-button {
  @apply text-white outline-none flex justify-center items-center content-center text-sm text-center border-secondary flex items-center relative px-3 py-2 flex  items-center border rounded-sm;

  &.danger {
    @apply border-red-600 bg-red-600 text-white;
    &:hover {
      @apply cursor-not-allowed;
    }
  }

  &:hover {
    @apply cursor-pointer;
  }

  &:focus {
    @apply outline-none;
  }

  //> svg {
  //  @apply stroke-white ml-0.5 mr-0.5 h-2 w-2 inline;
  //}

  &.bg {
    @apply h-10;
  }

  &.outline {
    @apply bg-transparent border border-secondary text-secondary;
  }

  &.full {
    @apply bg-gray-800;
  }

  &.rounded {
    @apply rounded-full;

    &.bg {
      @apply h-10 w-10 px-0;

      &.icon {
        > svg {
          @apply h-4 w-4;
        }
      }

    }

  }


}