.crypkit-switch {
  @apply items-center flex-row-reverse justify-end;

  > .label {
    @apply mb-2 block pl-0 text-white text-xs font-normal;
  }

  > .switch {
    @apply h-7 w-16 inline-block relative;

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked {

        + .slider {
          @apply border-white;

          &:before {
            @apply bg-white;
            margin-left: calc(calc(100% - 1.25rem) - 4px);
          }

        }

      }

    }

    .slider {
      @apply cursor-pointer absolute inset-0 bg-transparent border border-solid border-secondary;
      -webkit-transition: .4s;
      transition: .4s;

      &.round {
        border-radius: 34px;

        &:before {
          border-radius: 50%;
        }

      }

      &:before {
        @apply absolute  ml-1 w-5 h-5 bg-secondary;
        content: "";
        bottom: 3px;
        -webkit-transition: .4s;
        transition: .4s;
      }

    }


  }

  &.inline {
    @apply flex;

    > .label {
      @apply px-3 mb-0;
    }
  }

}