<template>
  <div class="home">
    <bp-test-component/>
  </div>
</template>

<script lang="ts">

import {defineComponent} from 'vue';

export default defineComponent({
  name: 'Home',
  components: {},
  
})

</script>
