<template>

  <div class="flex relative flex-col overflow-y-scroll content-between justify-between items-stretch">

    <bp-site-title>Doplňujúce informácie</bp-site-title>

    <div style="height: calc(100% + 60px)" class="lg:mb-0 mb-32 overflow-y-auto px-2 flex-grow ">

      <bp-my-input class="mt-3" type="text" v-model="form.name" placeholder=""
                   label="Meno *" id="name">
      </bp-my-input>

      <bp-my-input class="mt-3" type="text" v-model="form.tel" placeholder=""
                   label="Tel. č. *" id="tel">
      </bp-my-input>

      <bp-my-input class="mt-3" type="text" v-model="form.mail" placeholder=""
                   label="Email *" id="mail">
      </bp-my-input>

      <bp-my-input class="mt-3" type="text" v-model="form.address" placeholder=""
                   label="Adresa *" id="address">
      </bp-my-input>

      <label class="mt-2 block tracking-wide text-white text-sm font-bold mb-2" for="place">
        Miesto realizácie <br>
        (dom, byt, poschodie ...) *
      </label>

      <textarea id="place" v-model="form.place"
                class="appearance-none focus:outline-none block w-full bg-transparent text-secondary border border-secondary rounded py-3 px-4 leading-tight"
                rows="">
            </textarea>

      <label class="mt-2 block tracking-wide text-white text-sm font-bold mb-2" for="note">Poznámka</label>

      <textarea id="note" v-model="form.note"
                class="appearance-none focus:outline-none block w-full bg-transparent text-secondary border border-secondary rounded py-3 px-4 leading-tight"
                rows="">
            </textarea>

      <div class="text-white mt-4 text-center mx-0  display-block">(* povinné pole)</div>

      <div class="text-gray-400 mb-2 text-center text-sm">
        Odoslanie návrhu je nezáväzné a slúži len pre potreby nacenenia.
      </div>

      <br>

    </div>

    <div style="z-index: 9999"
         class="fixed  lg:relative  bottom-0  bg-gray-800   px-2 py-2 bottom-0 w-full left-0  flex flex-auto content-between justify-between pt-1">

      <svg v-if="sendingAnimation" class="mx-auto" style="width: 6rem; height: 6rem" version="1.1" id="L9"
           xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
                            <path fill="#fff"
                                  d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
                                <animateTransform
                                    attributeName="transform"
                                    attributeType="XML"
                                    type="rotate"
                                    dur="1s"
                                    from="0 50 50"
                                    to="360 50 50"
                                    repeatCount="indefinite"/>
                          </path>
                </svg>


      <template v-else>

        <a @click="$router.push({name:'Step2'})" class="my-button w-1/2 mr-2">
          Späť
        </a>

        <div class="my-button  w-1/2 ml-2" @click="submitForm()" :class="{'danger':!addressFilledUp}">
          <template v-if="addressFilledUp">
            Odoslať
          </template>
          <template v-else>
            Vyplnťe povinné polia
          </template>
        </div>

      </template>

    </div>


  </div>

</template>

<script lang="ts">

import {defineComponent} from 'vue';

import {wardrobe} from "@/comp/editor.ts";

export default defineComponent({
  name: "Step3",
  setup() {
    return {
      wardrobe
    }
  },
  data() {
    return {
      form: {
        inside_material: '',
        outside_material: '',
        kovanie: '',
        note: '',

        name: '',
        tel: '',
        mail: '',
        address: '',
        place: '',
      },
      interior: null,
      exterior: null,

      sendingAnimation: false
    }
  },
  computed: {
    addressFilledUp(): boolean {
      return this.form.place !== '' && this.form.name !== '' && this.form.tel !== '' && this.form.mail !== '' && this.form.address !== ''
    },
    editMode(): string {
      return this.$store.getters.editMode
    },
    wardrobePosition() {
      return this.$store.getters.wardrobePosition
    },
    width(): number {
      return this.$store.getters.width
    },
    height(): number {
      return this.$store.getters.height
    },
    deep(): number {
      return this.$store.getters.deep
    },
    topDesk(): string {
      return this.$store.getters.topDesk === true ? 'Ano' : 'Nie'
    },
    sections(): string {
      return this.$store.getters.sections.length.toString()
    },

  },
  methods: {
    async submitForm() {

      if (!this.addressFilledUp || this.sendingAnimation) {
        return
      }

      this.sendingAnimation = true
      await this.$store.dispatch('SET_EDITING_SECTION', -1)

      const editor_data = {
        interior: this.interior,
        exterior: this.exterior,
        inside_material: this.form.inside_material,
        outside_material: this.form.outside_material,
        kovanie: this.form.kovanie,
        note: this.form.note,
        name: this.form.name,
        tel: this.form.tel,
        mail: this.form.mail,
        address: this.form.address,
        place: this.form.place,
        wardrobePosition: this.wardrobePosition,
        width: this.width,
        height: this.height,
        deep: this.deep,
        topDesk: this.topDesk,
        sections: this.sections,
      }

      this.$http.post('https://bpnabytok-editor-api.nomadia.sk/', this.$qs.stringify(
          editor_data
      )).then((response: any) => {
        console.log(response);
        this.$router.push({
          name: 'Step4'
        })
      }).catch(function (error: any) {
        console.log(error);
        console.log(error.data);
        alert('Chyba pri odosielani')
      }).finally(() => {
        this.sendingAnimation = false
      });

    }
  }
})

</script>