<template>
  <div class="flex flex-col relative ">


    <bp-site-title>Základné špecifikácie</bp-site-title>

    <!--    <bp-test-component/>-->

    <div class="flex-col px-4 flex-grow">

      <p class="text-gray-400 mb-2 text-center text-sm">
        Po zadaní základných špecifikácií, kliknite „ďalej“ pre výber vnútorného a vonkajšieho usporiadania.
      </p>

      <bp-select v-model="wardrobePosition" label="Umiestnenie skrine v priestore" :options="itemPositions"/>

      <div class="flex">
        <div class="w-1/2 mr-1">
          <bp-my-input v-model="wardrobe.width" class="mt-3" type="number" :min="40" :max="700" placeholder=""
                       :danger="validation.incorrectWidth.value"
                       dangerMessage="Nie je zadaná správna šírka skrine"
                       label="Šírka skrine <br> (40 - 700cm)">
          </bp-my-input>
        </div>

        <div class="w-1/2 ml-1">
          <bp-my-input v-model="wardrobe.height" class="mt-3" type="number" :min="40" :max="350" placeholder=""
                       label="Výška skrine <br> (40 - 350cm)"
                       :danger="validation.incorrectSections.value"
                       dangerMessage="Nie je zadaná správna výška skrine">
          </bp-my-input>
        </div>

      </div>


      <div class="flex">
        <div class="w-1/2 mr-1">
          <bp-my-input v-model="wardrobe.deep" class="mt-3" type="number" :min="20" :max="100" placeholder=""
                       label="Hĺbka skrine <br> (20 - 100cm)"
                       :danger="validation.incorrectDeep.value"
                       dangerMessage="Nie je zadaná správna hĺbka skrine">
          </bp-my-input>
        </div>
        <div class="w-1/2 ml-1">
          <bp-my-input v-model="wardrobe.sectionsLength"
                       class="mt-3"
                       type="number"
                       :min="validation.minSections.value"
                       :max="validation.maxSections.value"
                       placeholder=""
                       :danger="validation.incorrectSections.value"
                       dangerMessage="Nie je zadaný správny počet sekcií"
                       :label="sectionsLabel">
          </bp-my-input>
        </div>
      </div>


      <span class="text-white text-xs leading-none mt-2">Dostupný počet sekcií na základe zadanej šírky skrine !</span>

      <bp-switch v-model="topDesk" class="mt-4" label="Horná polica" inline/>

    </div>


    <div style="z-index: 9999;" class="bg-gray-800 flex-grow-0 fixed lg:relative px-2 py-2 bottom-0 w-full left-0">

      <div class="my-button danger" v-if="$store.getters.requiredFieldsFilledUp !== true">
        Vyplň všetky polia
      </div>

      <div v-else-if="anyOfRequiredFiledsIsInvalid" class="my-button danger">
        Niektoré polia sú nesprávne
      </div>

      <router-link v-else to="krok-2" class="my-button">
        Ďalej
      </router-link>

    </div>


  </div>
</template>

<script lang="ts">


import {defineComponent} from 'vue';
import {wardrobe, validation} from "@/comp/editor.ts";

export default defineComponent({
  name: "Step1",
  setup() {

    const itemPositions = [
      {
        text: 'V priestore',
        value: 1
      },
      {
        text: 'Stena vlavo',
        value: 2
      },
      {
        text: 'Stena vpravo',
        value: 3
      },
      {
        text: 'Medzi stenami',
        value: 4
      }
    ] as any[]

    return {
      wardrobe,
      validation,
      itemPositions
    }

  },
  watch: {
    'wardrobe.width': {
      handler(newWidth: number) {
        const newMinSections = Math.floor(newWidth / 150)
        const newMaxSections = Math.floor(newWidth / 30)
      }
    },
  },
  computed: {
    sectionsLabel(): string {
      return validation.minSections.value === 0 ? `Počet sekcii <br> ( možná iba ${validation.maxSections.value}` : `Počet sekcii <br> ${validation.minSections.value} - ${validation.maxSections.value}`
    },
    anyOfRequiredFiledsIsInvalid(): boolean {
      return validation.incorrectDeep.value || validation.incorrectWidth.value || validation.incorrectHeight.value || validation.incorrectSections.value
    },
    wardrobePosition: {
      get(): number {
        return this.$store.getters['wardrobePosition']
      },
      set(value) {
        this.$store.dispatch('SET_WARDROBE_POSITION', value)
      }
    },
    topDesk: {
      get(): boolean {
        return !this.$store.getters['topDesk']
      },
      set(value: boolean) {
        this.$store.dispatch('SWITCH_TOP_DESK', !value)
      }
    },
  }
})
</script>