<template>

  <div class="overflow-hidden relative  flex flex-col overflow-y-hidden">

    <bp-site-title>Vnútorné a Vonkajšie usporiadanie</bp-site-title>

    <div class="lg:mb-0 mb-32 flex-auto  px-4 mt-2 flex-grow overflow-y-scroll  flex-wrap flex justify-between">

      <div v-if="isInterior" class="text-gray-400 mb-2 text-center text-sm">
        Kliknite na sekciu vo vizualizácii vpravo (príp. prepnite na editor na mobile) a následne vyberte z
        možností v ľavom menu. Postupujte rovnako pri všetkých sekciách a následne prepnite na hore na exteriér.
      </div>

      <div v-else class="text-gray-400 mb-2 text-center text-sm">
        Kliknite na sekciu vo vizualizácií vpravo (príp. prepnite na editor na mobile) a následne vyberte z
        možností v ľavom menu. Následne vo vizualizácií priraďte k jednotlivým častiam sekcií materiály podľa
        legendy vpravo dolu.
      </div>

      <template v-for="(wardrobe, index) in MyWardrobes" :key="index">
        <bp-wardrobe-miniature :isInterior="isInterior" :wardrobe="wardrobe"/>
      </template>

      <div class="text-gray-400 mb-2 text-center text-sm">
        Možnosti v ponuke vľavo sú orientačné. V prípade záujmu o iné usporiadanie, pridajte informácie do
        poznámky v poslednom kroku, prípadne nás informujte telefonicky.

      </div>
    </div>

    <div style="z-index: 9999"
         class="fixed flex-grow-0 lg:relative bg-gray-800 px-2 py-2 bottom-0 w-full left-0 flex-col flex-auto content-between justify-between pt-1">

      <div class="flex">
        <router-link to="/" class="my-button w-1/2 mr-2">
          Späť
        </router-link>
        <router-link to="krok-3" class="my-button w-1/2 ml-2">
          Ďalej
        </router-link>
      </div>

    </div>


  </div>

</template>

<script lang="ts">

import {defineComponent} from 'vue';

import Wardrobes from '@/comp/wardrobes.ts'
import BpWardrobeMiniature from '@/components/WardrobeMiniature.vue'
import {general} from '@/comp/editor.ts'

export default defineComponent({
  name: "Step2",
  components: {
    'bp-wardrobe-miniature': BpWardrobeMiniature
  },
  setup() {
    return {
      isInterior: general.isInterior
    }
  },
  computed: {
    MyWardrobes(): any {
      return this.isInterior ? Wardrobes.interior : Wardrobes.exterior
    }
  }
})

</script>