<template>

  <div class="w-1/3 flex justify-center mb-4">
    <img @click="setWardrobeColumnContent()"
         class="w-auto  border border-secondary"
         style="max-height: 100px"
         :src="imagePath">
  </div>

</template>


<script lang="ts">

import {defineComponent} from 'vue';

export default defineComponent({
  name: "WardrobeMiniature",
  props: ['wardrobe', 'isInterior'],
  computed: {
    imagePath(): string {
      return './images/' + (this.isInterior ? 'interior' : 'exterior') + '/' + this.wardrobe.id + '.png'
    }
  },
  methods: {
    async setWardrobeColumnContent() {
      const wardrobe = JSON.parse(JSON.stringify(this.wardrobe));
      await this.$store.dispatch('SET_SECTION_CONTENT', wardrobe)
    }
  }
})

</script>