<template>
  <div id="app w-full flex overflow-y-hidden">

    <div class="app-wrapper relative overflow-y-hidden">

      <div v-if="showThanks" class="fixed top-0 left-0 w-full h-screen overflow-hidden bg-white z-50">
        <div class="flex items-center justify-center h-full">
          <p class="text-xl text-center">Ďakujeme, že ste sa na nás obrátili so svojimi požiadavkami. <br>
            V krátkej dobe Vám odpovieme. <br>
            Prajeme pekný deň. <br>
            <a class="text-base mt-2 underline text-secondary" href="http://www.bpnabytok.sk">
              Speť na web
            </a>
          </p>
        </div>
      </div>

      <div @click="mobileMenuCollapsed = !mobileMenuCollapsed"
           class="mobile-menu-touch overflow-y-hidden"
           style="z-index: 2000;padding-bottom: 17px">
        <div class="flex items-center">
        <span class="text-xl text-white overflow-hidden">
        <template v-if="mobileMenuCollapsed">editor</template>
        <template v-else>menu</template>
        </span>
        </div>
      </div>

      <div v-show="$store.getters.editMode === 'exterior'" class="material-legend">
        <div>
          <div class="my-bg-laminate"></div>
          <span>Laminát</span>
        </div>
        <div>
          <div class="my-bg-glass"></div>
          <span>Lakobel Sklo</span>
        </div>
        <div>
          <div class="my-bg-mirror"></div>
          <span>Zrkadlo</span>
        </div>
        <div>
          <div class="my-bg-photo-wall"></div>
          <span>Fototapeta</span>
        </div>
      </div>


      <div class="overflow-y-hidden side-navigation-wrapper overflow-hidden"
           :class="{'collapsed':mobileMenuCollapsed}">
        <!--        <keep-alive>-->
        <router-view></router-view>
        <!--        </keep-alive>-->
      </div>


      <div class="main-content flex-1">

        <bp-wardrobe-editor v-show="$store.getters.requiredFieldsFilledUp === true"/>

        <div v-show="$store.getters.requiredFieldsFilledUp !== true"
             class="w-full flex text-xl justify-center items-center h-screen">
          <span>Pre zobrazenie editoru skrine je potrebné zadať všetky základné špecifikácie</span>
        </div>

      </div>

    </div>
  </div>

</template>

<script lang="ts">

import {defineComponent} from 'vue';
import BpWardrobeEditor from '@/components/editor/Index.vue'


export default defineComponent({
  name: 'App',
  components: {
    'bp-wardrobe-editor': BpWardrobeEditor
  },

  data() {
    return {
      showThanks: false,
      mobileMenuCollapsed: false
    }
  },
  methods: {
    checkDevieForMenucollapse() {
      const w = window.screen.width;
      if (w < 768) {
        this.mobileMenuCollapsed = true
      }
    }
  },
  created() {

    this.checkDevieForMenucollapse()
    window.onresize = async () => {
      this.checkDevieForMenucollapse()
    };

  },

})

</script>
